include "put.kdl"
include "binds.kdl"
include "layout.kdl"
include "windowrule.kdl"
include "animations.kdl"
include "environment.kdl"

// 关闭热脚
gestures {
    hot-corners { off; }
}

// 关闭进入桌面环境的命令提示
hotkey-overlay { skip-at-startup; }

// 告诉客户端平铺样式，省略窗口栏
prefer-no-csd

// 自启动
spawn-at-startup "dms" "run"
spawn-at-startup "fcitx5"
// spawn-sh-at-startup "swaybg -i ~/Pictures/wallpapers/海梦_夜景.jpg &"

/-cursor {
  xcursor-theme "Bibata-Modern-Ice"
  xcursor-size 24
}
