layout {
    // 窗口间距离
    gaps 16
    // 窗口位置居中
    center-focused-column "never"

    // <- needed for noctalia-shell to set wallpaper
    background-color "transparent"

    // 窗口列宽预设, mod + r
    preset-column-widths {
        proportion 0.25
        proportion 0.5
        proportion 0.75
        proportion 1.0
    }

    // 窗口行高预设, mod + shift + r
    preset-window-heights {
        proportion 0.25
        proportion 0.5
        proportion 0.75
        proportion 1.0
    }

    // 预留全屏边框距离
    struts {}
}
